.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Pen.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border: 1px solid white;
    margin-top: 6px;
}
.profile__edit-button:hover {
    opacity: 0.6;
}