.form__line {
    margin: 0 0 30px;
    border: 0;
    border-bottom: 1px solid #545454;
    box-sizing: border-box;
    height: 27px;
}
.form__line:last-child {
    margin-bottom: 48px;
}
.form__line:focus {
    outline-color: #545454;
}
@media screen and (max-width: 567px) {
    .form__line {
        font-size: 14px;
        line-height: 1.2; 
    }
    .form__line:last-child {
        margin-bottom: 45px;
    }
}