.bigPicture {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    width: 100vw;
    height: 100vh;
}