.profile__entry-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
@media screen and (max-width: 337px) {
    .profile__entry-field  {
        margin-bottom: 5px;
    }
}