.form__toggle {
    position: absolute;
    top: -45px;
    right: -45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 567px) {
    .form__toggle {
        top: -40px;
        right: -5px;
      }
}