.elements__button {
    background-color: white;
    border: none;

}
.elements__button::before {
    content: attr(text);
  }
  
  .elements__button:active::before {
    content: attr(hover-text);
  }
 